
.table-links {
    table-layout: fixed;
    width: 100%;
}

.table-links thead th {
    font-weight: 600;
    vertical-align: middle;
}

.link-styled {
    color: #0d6efd;
    text-decoration: none;
}

.link-styled:hover {
    text-decoration: underline;
    color: #0a58ca;
}

.click-count-badge {
    font-size: 0.9rem;
    min-width: 50px;
    padding: 0.5rem 0.75rem;
}

.table-links td:first-child {
    padding-left: 8px;
}

.table-links td:last-child {
    padding-right: 8px;
}
